
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ElvenRing";
  src: url("fonts/ElvishRingNFI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("image.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Cascadia Mono", monospace;
  color: white;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.top-bar,
.bottom-strip {
  width: 90%;
  height: 45px;
  margin: 20px auto;
  border: 2px solid #fff;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar p,
.bottom-strip p {
  font-size: 16px;
}

.elven-font {
  font-family: "ElvenRing", serif;
}

.main-grid {
  flex: 1;
  width: 90%;
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 25px;
}

.big-graph-box {
  border: 2px solid #fff;
  background: rgba(0,0,0,0.45);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-label {
  font-size: 15px;
  opacity: 0.9;
  margin-bottom: 5px;
}


.xp-box {
  border: 2px solid #fff;
  padding: 10px;
  height: 280px;
}

.small-graphs-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.subgraph {
  width: 50%;
}

.xp-box svg,
.subgraph svg {
  width: 100%;
  height: 100%;
  background: transparent !important;
}

.stats-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats-title {
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  font-size: 26px;
}

.stats-box {
  border: 2px solid #fff;
  background: rgba(0,0,0,0.45);
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.stats-box ul {
  list-style: none;
  line-height: 1.8;
  font-size: 15px;
}

.audit-wrapper {
  margin-top: 10px;
}

.audit-track {
  width: 100%;
  height: 20px;
  background: rgba(255,255,255,0.25);
  border-radius: 10px;
  overflow: hidden;
}

.audit-fill {
  height: 100%;
  background: #d3a9ff;
  transition: width 0.4s;
}

.audit-value {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
}

.login-container {
  width: 320px;
  margin: 150px auto;
  border: 2px solid white;
  background: rgba(0,0,0,0.55);
  padding: 25px;
  text-align: center;
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background: black;
  border: 2px solid white;
  color: white;
}

.login-container button {
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  background: black;
  border: 2px solid white;
  color: white;
}
